<div class="card-content">
    <div class="card-img">
        <img src="https://source.unsplash.com/random/380x230" alt="">
        <span>
            <h4>{{ posicion }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <p> Servicios</p>
        <ul>
            <li *ngFor="let service of destino.servicios">
                <span [ngSwitch]="service">
                    <i *ngSwitchCase="'desallunos'" style="color:red">{{service}}</i>
                    <i *ngSwitchDefault>{{service}}</i>
    
                </span>
            </li>

        </ul>
        <a href="#" class="btn-card" (click)="ir()">Ir</a>
        <span *ngIf="destino.isSelected()">
             <span ngNonBindable > preferido </span>
        </span>
        <a [routerLink]="['/destino']">ver detalle</a>
    </div>
</div>